<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<script id="personTemplate" type="text/template">
		<em><%= name %></em> (<%= age %>) -- <%= occupation %>
	</script>
	<script src="../dependencies/underscore.js"></script>
	<script src="../dependencies/jquery.js"></script>
	<script src="../dependencies/backbone.js"></script>
	<script>
	//Model
	var Person = Backbone.Model.extend({
		defaults: {
			name: 'John Doe',
			age: 30,
			occupation: 'worker'
		}
	});

	//The collection of person
	var PeopleCollection = Backbone.Collection.extend({
		model: Person 	//Pay attention to the capital letter, which indicates the data type we are dealing with
	});


	//View of the person model
	var PersonView = Backbone.View.extend({
		tagName: 'li',

		// className: 'people',

		// id: 'person'
		//use the underscore library
		//this time we use the external template
		template: _.template($('#personTemplate').html()),

		initialize: function () {
			// console.log('Hi there!');
			this.render();
		},

		render: function () {
			// this.$el.html(this.model.get('name') + ' (' + this.model.get('age') + ') - ' + this.model.get('occupation'));

			this.$el.html(this.template( this.model.toJSON()) );
		}
	});

	var person = new Person();
	var personview = new PersonView({ model: person});

	var person2 = new Person({ name: 'Cherry', age: 20, occupation: 'student'});
	var personview = new PersonView({ model: person});

	// var peopleCollection = new PeopleCollection();
	// peopleCollection.add(person);
	// peopleCollection.add(person2);

	var peopleCollection = new PeopleCollection([
		{
			name: 'Thomas',
			age: 22,
			occupation: 'student'
		},
		{
			name: 'Cherry',
			age: 21,
			occupation: 'student'
		},
		{
			name: 'Emily Liu',
			age: 40,
			occupation: 'teacher'
		},
		{
			name: 'John',
			age: 20,
			occupation: 'worker'
		}
	]);

	console.log(peopleCollection.toJSON());
	</script>
</body>
</html>