<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<script id="personTemplate" type="text/template">
		<em><%= name %></em> (<%= age %>) -- <%= occupation %>
	</script>
	<script src="../dependencies/underscore.js"></script>
	<script src="../dependencies/jquery.js"></script>
	<script src="../dependencies/backbone.js"></script>
	<script>
	//Model
	var Person = Backbone.Model.extend({
		defaults: {
			name: 'John Doe',
			age: 30,
			occupation: 'worker'
		}
	});

	//The collection of person
	var PeopleCollection = Backbone.Collection.extend({
		model: Person 	//Pay attention to the capital letter, which indicates the data type we are dealing with
	});

	//View of all the people
	var PeopleView = Backbone.View.extend({
		tagName: 'ul',

		render: function () {
			this.collection.each(function(person) {
				var personView = new PersonView({ model: person });
				this.$el.append(personView.render().el);
			}, this);

			return this;
		}
	});


	//View of the person model
	var PersonView = Backbone.View.extend({
		tagName: 'li',

		template: _.template($('#personTemplate').html()),

		render: function () {
			this.$el.html(this.template( this.model.toJSON()) );

			return this;
		}
	});

	var peopleCollection = new PeopleCollection([
		{
			name: 'Thomas',
			age: 22,
			occupation: 'student'
		},
		{
			name: 'Cherry',
			age: 21,
			occupation: 'student'
		},
		{
			name: 'Emily Liu',
			age: 40,
			occupation: 'teacher'
		},
		{
			name: 'John',
			age: 20,
			occupation: 'worker'
		}
	]);

	var peopleView = new PeopleView({ collection: peopleCollection });
	</script>
</body>
</html>