<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<script id="personTemplate" type="text/template">
		<em><%= name %></em> (<%= age %>) -- <%= occupation %>
	</script>
	<script src="../dependencies/underscore.js"></script>
	<script src="../dependencies/jquery.js"></script>
	<script src="../dependencies/backbone.js"></script>
	<script>
		(function (){
			window.App = {
				Models: {},
				Collections: {},
				Views: {},

				helper: {
					template: function (id){
						return _.template($('#' + id).html());
					}
				}
			};
		})();

		App.Models.Person = Backbone.Model.extend({
			defaults: {
				name: '',
				age: 20,
				occupation: ''
			}
		});

		App.Views.Person = Backbone.View.extend({
			tagName: 'li',

			template: App.helper.template('personTemplate'),

			render: function (){
				this.$el.html(this.template(this.model.toJSON()));
				
				return this;
			}
		});

		App.Collections.People = Backbone.Collection.extend({
			model: App.Models.Person
		});

		App.Views.People = Backbone.View.extend({
			tagName: 'ul',

			render: function (){
				this.collection.each(function (person){
					var personView = new App.Views.Person({ model: person });

					this.$el.append(personView.render().el);
				}, this);

				return this;
			}
		});

		var peopleCollection = new App.Collections.People([
			{
				name: 'Thomas',
				age: 22,
				occupation: 'student'
			},
			{
				name: 'Shawn',
				age: 21,
				occupation: 'student'
			},
			{
				name: 'Whatsoever',
				age: 44,
				occupation: 'rude'
			}
		]);

		var peopleView = new App.Views.People({ collection: peopleCollection });

		$(document.body).append(peopleView.render().el);
	</script>
</body>
</html>